<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648676889704-e1bv44vhg5g9l33b5rblstjtm4j13s4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648676889704-e1bv44vhg5g9l33b5rblstjtm4j13s4c</string>
	<key>API_KEY</key>
	<string>AIzaSyDdvujhqTti0LyVVFKJmfrWVwVOdSqCaGo</string>
	<key>GCM_SENDER_ID</key>
	<string>648676889704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantAppProject</string>
	<key>PROJECT_ID</key>
	<string>restaurant-app-project-bb1f4</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-app-project-bb1f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648676889704:ios:c3d3c6df41c2428bc697dd</string>
</dict>
</plist>